* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  background-color: #1f2937;
  height: 60px;
  gap: 40px;
}

.logo {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 40px;
}

.link a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.link a:hover {
  text-decoration: underline;
}

/* Main content styling */

/* Hero section */

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero {
  padding: 0 130px;
  background-color: #1f2937;
  color: white;
  display: flex;
  min-height: 400px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.hero-text {
  max-width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
}

.hero-text h1 {
  padding-top: 0;
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: bolder;
}

.hero-text p {
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}

.hero-text button {
  width: 130px;
  height: 40px;
  font-size: 18px;
  color: white;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.hero-text button:hover {
  background-color: white;
  color: #3882f6;
}

.hero img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #adadad;
  color: black;
  font-size: 18px;
  width: 700px;
  height: 300px;
}

/* Info section */

.info {
  text-align: center;
  min-height: 500px;
}

.info h2 {
  font-size: 36px;
  font-weight: bolder;
  margin: 50px 0;
}

.images {
  display: flex;
  justify-content: center;
}

.info figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info img {
  font-size: 18px;
  background-color: #adadad;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 200px;
  border: 2px solid #3882f6;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.info img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.info figcaption {
  font-size: 18px;
  transition: 0.3s;
}

.info img:hover ~ figcaption {
  font-size: 20px;
  transform: translateY(10px);
}

/* Footer styling */

footer {
  height: 60px;
  background-color: #1f2937;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
