* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  background-color: #1f2937;
  height: 60px;
}

.logo {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 40px;
}

.link a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.link a:hover {
  text-decoration: underline;
}

/* Main content styling */

main {
  display: flex;
  flex: 1;
}

/* Footer styling */

footer {
  height: 60px;
  background-color: #1f2937;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
